@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="border border-2 border-primary rounded p-2">
        <div class="d-flex justify-content-center">
        <h2>Requerimientos Primer Parcial</h2>
        </div>
        <hr />
        <br />
        <div>
            <h3>Utilizando la arquitectura MVC</h3>
            <p>

            </p>
        </div>
    </div>
</main>